<div class="feed-post p-3">
  <div class="post-wrapper d-flex flex-column">
    {% if tweet_posts %} {% for tweet in tweet_posts %}

    <div class="post d-flex gap-2 pt-3 pb-3">
      <img
        src="{{tweet['user']['profile_img_url']}}"
        alt="avatar"
        width="40px"
        height="40px"
        class="rounded-circle"
      />
      <div>
        <div class="d-flex flex-row align-items-center">
          <div class="fs-6 fw-bold">{{tweet['user']['username']}}</div>
          {% if tweet['user']['user_id'] == user_id %}
          <div class="ms-auto d-flex align-items-center gap-2">
            <div><a href="/edit_tweet?tweet_id={{tweet['id']}}" class="second-button">Edit</a></div>
            <div><button onclick="deleteTweet(`{{tweet['id']}}`)" class="danger-button">Delete</button></div>
          </div>
          {% endif %}
        </div>
        <div class="text-secondary">{{tweet['date_and_time']}}</div>
        <div>{{tweet['tweet']}}</div>
        <img
          src="{{tweet['img_url']}}"
          alt="Tweet Image"
          class="img-fluid rounded-4"
        />
      </div>
    </div>

    {% endfor %} {% else %}
    <div class="text-center">
      <h3>No posts</h3>
    </div>
    {% endif %}

    
    <script>

      async function deleteTweet(tweet_id){

        try {
          const res = await fetch(`/tw/tweet?tweet_id=${tweet_id}`, {
            method: 'DELETE'
          })

          if(res.status ===200){
            window.location.reload()
          }

        } catch (error) {
          console.log(error);
        }

      }

    </script>


    </div>
  </div>
</div>
