<div class="feed-post p-3">
  <div class="post-wrapper d-flex flex-column">
    <div class="post d-flex gap-2 pt-3 pb-3">
      <img
        src="https://pbs.twimg.com/profile_images/1676935191850549249/Lnw6HOCW_400x400.jpg"
        alt="avatar"
        width="40px"
        height="40px"
        class="rounded-circle"
      />
      <div>
        <div>username</div>
        <div>this is my first post</div>
        <img
          src="https://pbs.twimg.com/media/GMpREkQX0AAvNMo?format=jpg&name=4096x4096"
          alt="img"
          class="img-fluid rounded-4"
        />
      </div>
    </div>

    <div class="post d-flex gap-2 pt-3 pb-3">
      <img
        src="/static/icons/avatar.png"
        alt="avatar"
        width="40px"
        height="40px"
        class="rounded-circle"
      />
      <div>
        <div>username</div>
        <div>this is my first post</div>
        <img
          src="https://pbs.twimg.com/media/GMpQ8U8XIAAyAZd?format=jpg&name=4096x4096"
          alt="img"
          class="img-fluid rounded-4"
        />
      </div>
    </div>

    <div class="post d-flex gap-2 pt-3 pb-3">
      <img
        src="/static/icons/avatar.png"
        alt="avatar"
        width="40px"
        height="40px"
        class="rounded-circle"
      />
      <div>
        <div>username</div>
        <div>this is my first post</div>
        <img
          src="https://th.bing.com/th/id/OIP.7AuGeuHNc6hDSvB2Ptw9zAHaFv?w=648&h=502&rs=1&pid=ImgDetMain"
          alt="img"
          class="img-fluid rounded-4"
        />
      </div>
    </div>
  </div>
</div>
