<div class="side-menu pt-3">
  <div class="d-flex flex-column gap-2">
    <div class="div-icon d-flex align-items-center">
      <img
        src="/static/icons/twitter.png"
        width="48"
        alt="twitter"
      />
    </div>
    <div class="div-icon d-flex align-items-center">
      <img src="/static/icons/home.png" width="34" alt="home" />
      <span>Home</span>
    </div>
    <div class="div-icon d-flex align-items-center">
      <img src="/static/icons/search.png" width="34" alt="search" />
      <span>Search</span>
    </div>
    <div class="div-icon d-flex align-items-center">
      <img src="/static/icons/profile.png" width="34" alt="profile" />
      <span>Profile</span>
    </div>
    <div class="div-icon d-flex align-items-center">
      <img src="/static/icons/logout.png" width="34" alt="logout" />
      <span>Logout</span>
    </div>
  </div>
</div>
