<div class="side-menu pt-3">
  <div class="d-flex flex-column gap-2">
    <a href="/" class="div-icon d-flex align-items-center">
      <img src="/static/icons/twitter.png" width="48" alt="twitter" />
    </a>
    <a href="/" class="div-icon d-flex align-items-center">
      <img src="/static/icons/home.png" width="34" alt="home" />
      <span>Home</span>
    </a>
    <a href="/search" class="div-icon d-flex align-items-center">
      <img src="/static/icons/search.png" width="34" alt="search" />
      <span>Search</span>
    </a>
    {% if user_id%}

    <a href="/profile?user_id={{user_id}}" class="div-icon d-flex align-items-center">
      <img src="/static/icons/profile.png" width="34" alt="profile" />
      <span>Profile</span>
    </a>

    {% endif %}
    <a href="/setting" class="div-icon d-flex align-items-center">
      <img src="/static/icons/setting.png" width="32" alt="setting" />
      <span>Setting</span>
    </a>
    <a class="div-icon d-flex align-items-center" id="logout">
      <img src="/static/icons/logout.png" width="34" alt="logout" />
      <span>Logout</span>
    </a>
  </div>
</div>
