<div class="person-wrapper p-3 d-flex flex-column gap-4">
  {% for user in user_data %}

  <div class="d-flex gap-2 align-items-center search-user">
    {% if user['profile_img_url']%}

    <img
      src="{{user['profile_img_url']}}"
      alt="profile picture"
      width="60px"
      height="60px"
      class="rounded-circle"
    />

    {%else%}

    <img
      src="/static//icons/avatar2.png"
      alt="profile picture"
      width="60px"
      height="60px"
      class="rounded-circle"
    />

    {% endif%}
    <div>
      <p class="fw-bolder">{{user['username']}}</p>
    </div>
    <div class="ms-auto">
      <a href="/profile?user_id={{user['user_id']}}" class="second-button"
        >Go to Profile</a
      >
    </div>
  </div>

  {% endfor %}
</div>
