<!-- header include  -->
{% include 'partials/header.html' %}

<!-- side menu include  -->
{% include 'partials/side_menu.html' %}

<div class="feed pt-3">
  <div class="post-input-area">
    <div class="d-flex ps-4 pe-4">
      <img src="https://pbs.twimg.com/profile_images/1662313375127441410/Vtybr05X_400x400.jpg" alt="avatar" width="45px" class="rounded-circle"/>
      <input
        type="text"
        name="post"
        id="post-input"
        placeholder="What is happening?!"
      />
    </div>
    <div
      class="d-flex flex-row justify-content-between align-items-center pe-4 ps-4 border-bottom-1 py-1"
    >
      <label for="img-uploader">
        <img
          src="/static/icons/upload.png"
          alt="upload"
          width="24px"
          height="24px"
          id="upload-img"
        />
      </label>
      <input
        class="hide"
        type="file"
        id="img-uploader"
        accept="image/jpeg, image/png"
      />
      <button class="">Post</button>
    </div>

    {% include "partials/feed-post.html" %}

  </div>
</div>
<!-- footer include  -->
{% include 'partials/footer.html' %}
